<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="capabilities">
      <section name="single" type="System.Configuration.AppSettingsSection, System.Configuration, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
    </sectionGroup>

    <sectionGroup name="environments">
      <section name="Win7FireFox" type="System.Configuration.AppSettingsSection, System.Configuration, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
      <section name="Win10Chrome" type="System.Configuration.AppSettingsSection, System.Configuration, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
    </sectionGroup>
  </configSections>

  <appSettings>
    <add key="user" value="igorneslukhovski1" />
    <add key="key" value="moiAmniyLgnh3UUbLkeM" />
    <add key="server" value="hub-cloud.browserstack.com" />
  </appSettings>

  <capabilities>
    <single>
      <add key="browserstack.debug" value="true" />
      <add key="acceptSslCerts" value="true" />
    </single>
  </capabilities>

  <environments>
    <Win7FireFox>
      <add key="os" value="Windows" />
      <add key="os_version" value="7" />
      <add key="browser" value="Firefox" />
      <add key="browser_version" value="48.0" />
      <add key="resolution" value="1920x1080" />
    </Win7FireFox>
  </environments>

  <environments>
    <Win10Chrome>
      <add key="os" value="Windows" />
      <add key="os_version" value="10" />
      <add key="browser" value="Chrome" />
      <add key="browser_version" value="61.0" />
      <add key="resolution" value="1920x1080" />
    </Win10Chrome>
  </environments>
</configuration>